.contained 
{
    height: auto;
    width: 450px;
    line-height: 2px;
    margin: auto;
    
}
.header
{
    background-color: #04364B;
    margin-top: 30px;
    height: 50px;
    padding: 5px;
    color: white;
}
h4
{
    margin: auto;
    text-align: center;
}
.box
{
    /* width: inherit; */
    min-height: auto;
    line-height: 2px;
    box-shadow: inherit;
    background-color: #3D464A;
    margin-bottom: 30px;
}
.msg-body
{
    padding: 5px;
    min-height: 50px;
}
.query
{
    background-color: #FFFFFF;
    min-height: 20px;
    max-width: 300px;
    float: right;
    color: #707070;
    border-radius: 12px;
    padding: 12px;
  }

.time-in
{
    font-size: 10px;
}
.feedback
{
    background-color: #2ECE92;
    min-height: 20px;
    max-width: 300px;
    float: left;
    color: #ffffff;
    border-radius: 12px;

    word-wrap: break-word;
 white-space: nowrap;
}
.input
{
    background-color: #04364B;
    margin-top: 30px;
    height: 50px;
    padding-left: 20px;
    color: white;
}
.text-area
{
    border-radius: 20px;
    background-color: #FFFFFF;
    color: black;
    margin: 5px;
    min-height: 40px;
    min-width: 350px;
    padding-left: 20px;
    
}
.fa-paper-plane
{
    height: 60px;
    width: 60px;
    
}
p
{
 word-wrap: break-word;
 white-space: nowrap;
}
